


@mixin globos404 (
                    $width: 220px, 
                    $height: 300px, 
                    $bgColor: #CE2844, 
                    $position: absolute, 
                    $top: 40px, 
                    $left: 0,
                    $zindex: 1,
                    $borderRad: 50%
                  ) {
                      width: $width;
                      height: $height;
                      background: $bgColor;
                      position: $position;
                      top: $top;
                      left: $left;
                      z-index: $zindex;
                      border-radius: $borderRad;
                    }

#sectionError {
	max-width: 900px;
	width: 100%;
	overflow: hidden;
	margin: 30px auto;
	height: 240px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#error404 {
	.infoError {
		max-width: 520px;
		float: left;
		margin: 48px 0 0 20px;
		span {
			font-family: arial;
			font-size: 40px;
			strong{
				font-size: 60px;
        animation: alerta 2s ease infinite;
			}
		}
	}
	.dibujo {
		width: 300px;
		position: absolute;
		top: 0;
		right: 0;
    animation: moverY 3s ease 3;
	}
  @keyframes moverY {
     10%,40% {
       top: 200px;
     }
     90%, 100% {
       top: 0;
     }
  }
	.globo1{
		@include globos404();
		box-shadow: 1px 1px 16px #831A40 inset;
		&:hover ~ .globo2:before {  animation: moverHover .5s ease 1; }
		&:hover ~ .globo3:before {  animation: moverHover .5s ease 1; }
	}
	.globo2,.globo3 {
		@include globos404 (
                          $width: 40px, 
                          $height: 40px, 
                          $bgColor: #fff, 
                          $top: 110px 
		                   );
		overflow: hidden;
		box-shadow: 1px 1px 13px #7B7B7B inset;
	}
	.globo2 {
		left: 154px;
		&:before {
			content: "";
			@include globos404 (
                            $width: 13px, 
                            $height: 21px, 
                            $bgColor: #000, 
                            $top: 8px, 
                            $left: -1px,
                            $zindex: 10
			                   );
			animation: moverOjos .4s ease 2; 
			transform: rotate(180deg);
		}
	} 
	.globo3 {
		left: 30px;
		&:before {
			content: "";
			@include globos404 (
                            $width: 13px, 
                            $height: 21px, 
                            $bgColor: #000, 
                            $top: 8px, 
                            $left: -1px,
                            $zindex: 10
			                   );
		  animation: moverOjos .4s ease 2; 
			transform: rotate(180deg);
		}
	}
	.globo4 {
		@include globos404 (
                          $width: 286px, 
                          $height: 24px, 
                          $bgColor: #000, 
                          $top: 90px, 
                          $left: -36px,
                          $zindex: 10
			                );
			border: 4px solid #595959;
		&:before {
			content: "";
			@include globos404 (
                            $width: 194px, 
                            $height: 99px, 
                            $bgColor: #2C2C2C, 
                            $top: -92px, 
                            $left: 42px,
                            $zindex: 10,
                            $borderRad: 50px 50px 0 0
			                  );
			box-shadow: 2px 28px 67px #000 inset;
		}
	}
	.globo5 {
		@include globos404 (
                          $width: 170px, 
                          $height: 73px, 
                          $bgColor: #000, 
                          $top: 138px, 
                          $left: 22px,
                          $zindex: 10
		                  );
	  transform: rotate(180deg);
		&:before {
			content: "";
			@include globos404 (
                            $width: 181px, 
                            $height: 74px, 
                            $top: 4px, 
                            $left: -5px,
                            $zindex: 20
			                   );
		}

	}
  
}
@keyframes alerta {
  0%   { color: #CE2844; transform:rotateY(60deg); }
  100% { color:#000000; }
}
@keyframes moverOjos {
	0%  { top:0px; }
	90% { left:30px; }	
}
@keyframes moverHover {
	0%  { top:8px; }
	90% { left:30px; }	
}
.mysite {
	display:block;
	text-align:right;
	text-align:center;
	display:block;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}


